body {
    font-family: "Lato", sans-serif;
}

.sidenav {
    height: 100%;
    width: 16%;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: gainsboro;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 80px;
}

#header_nav {
    float: right;
    margin-top: 20px;
    margin-right: 25px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: black;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 8;
    right: 20;
    font-size: 36px;

}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}
