body {
    margin: 0px;
    padding: 0px;
    font-family: AvenirNextBold;
}

header {
    background-color: whitesmoke;
    height: 40px;
    position: fixed;
    width: 100%;
    opacity: 0.8;
}

p {
    font-size: 20px;
    font-weight: bold;
    padding: 2px;
    color: #7b5f5f;
}

.logo-header {
    display: flex;
    position: fixed;
    left: 3vw;
    top: 6px;
    font-size: 25px;
    cursor: pointer;
    font-family: AvenirNextBold;
    color: rgb(53, 53, 53);
    font-weight: bold;
}

#sidebar {
    background: #151718;
    width: 200px;
    height: 100%;
    position: fixed;
    right: -200px;
    top: 0px;
    margin-right: -8px;
    transition: right 0.3s linear;
}

#sidebar.visible {
    right: 0px;
    transition: right 0.3s linear;
}

ul {
    margin: 0px;
    padding-top: 10px;
}

ul li {
    list-style: none;
}

ul li a:hover {
    background-color: snow;
}

ul li a {
    background: #1C1E1F;
    color: darkgrey;
    display: block;
    width: 180px;
    padding: 10px;
    border-bottom: 1px solid #111;
    text-decoration: none;
    padding-top: 30px;
}

#sidebar-btn {
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 15px;
    cursor: pointer;
    margin: 10px;
    float: right;
    position: absolute;
    top: 6px;
    left: -60px;
}

#sidebar-btn span {
    height: 2.5px;
    background: #111;
    margin-bottom: 5px;
    display: block;
    float: right;
    margin-right: 15px;
}

#sidebar-btn span:nth-child(1) {
    width: 100%;
}

#sidebar-btn span:nth-child(2) {
    width: 75%;
}

#sidebar-btn span:nth-child(3) {
    width: 50%;
}

.intro-page {
    background: url(../images/int.jpg) no-repeat;
    width: 100%;
    background-size: cover;
    background-position: center center;
    height: 100%;
}

.container {
    display: inline-block;
    margin-left: 20%;
    margin-top: 10%;
}

.introA {
    font-size: 130px;
    white-space: nowrap;
    font-family: AvenirNextBold;
}

.introB {
    font-size: 47px;
    font-family: AvenirNextBold;
    margin-top: -15%;
}

.contSport {
    font-family: AvenirNextBold;
    height: 100vh;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 150px;
    padding-top: 150px;
    text-align: center;
}

.intSport {
    font-size: 400px;
    margin-top: 20%;
    color: gainsboro;
}

.sport-int-page {
    background-color: azure;
}

#sport-section {
    border-image: linear-gradient(to right, grey 0%, red 100%);
    border-image-slice: 2;
    margin: auto;
    width: 80%;
    height: 85%;
    background: rgba(255, 255, 255, 0.9);
    padding: 10px;
    box-shadow: 15px 15px 40px rgba(25, 38, 51, 0.4);
    text-align: center;
}

.sport-page {
    background: url(../images/sp.jpg) no-repeat;
    width: 100%;
    background-size: cover;
    background-position: center center;
    height: 100%;
}

.contArt {
    font-family: AvenirNextBold;
    height: 100vh;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 150px;
    padding-top: 150px;
    text-align: center;
}

.intArt {
    font-size: 400px;
    margin-top: 20%;
    color: gainsboro;
}

.art-int-page {
    background-color: azure;
}

#art-section {
    border-image: linear-gradient(to right, grey 0%, red 100%);
    border-image-slice: 2;
    margin: auto;
    width: 80%;
    height: 85%;
    background: rgba(255, 255, 255, 0.9);
    padding: 10px;
    box-shadow: 15px 15px 40px rgba(25, 38, 51, 0.4);
    text-align: center;
}

.art-page {
    background: url(../images/artOne.jpg) no-repeat;
    width: 100%;
    background-size: cover;
    background-position: center center;
    height: 100%;
}

.contPolitics {
    font-family: AvenirNextBold;
    height: 100vh;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 150px;
    padding-top: 150px;
    text-align: center;
}

.intPolitics {
    font-size: 400px;
    margin-top: 20%;
    color: gainsboro;
}

.politics-int-page {
    background-color: azure;
}

#politics-section {
    border-image: linear-gradient(to right, grey 0%, red 100%);
    border-image-slice: 2;
    margin: auto;
    width: 80%;
    height: 85%;
    background: rgba(255, 255, 255, 0.9);
    padding: 10px;
    box-shadow: 15px 15px 40px rgba(25, 38, 51, 0.4);
    text-align: center;
}

.politics-page {
    background: url(../images/politics.jpg) no-repeat;
    width: 100%;
    background-size: cover;
    background-position: center center;
    height: 100%;
}

.contBusiness {
    font-family: AvenirNextBold;
    height: 100vh;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 150px;
    padding-top: 150px;
    text-align: center;
}

.intBusiness {
    font-size: 400px;
    margin-top: 20%;
    color: gainsboro;
}

.business-int-page {
    background-color: azure;
}

#business-section {
    border-image: linear-gradient(to right, grey 0%, red 100%);
    border-image-slice: 2;
    margin: auto;
    width: 80%;
    height: 85%;
    background: rgba(255, 255, 255, 0.9);
    padding: 10px;
    box-shadow: 15px 15px 40px rgba(25, 38, 51, 0.4);
    text-align: center;
}

.business-page {
    background: url(../images/business.jpg) no-repeat;
    width: 100%;
    background-size: cover;
    background-position: center center;
    height: 100%;
}

.contLogin {
    font-family: AvenirNextBold;
    height: 100vh;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 150px;
    padding-top: 150px;
    text-align: center;
}

.intLogin {
    font-size: 400px;
    margin-top: 20%;
    color: gainsboro;
}

.login-int-page {
    background-color: azure;
}

#login-section {
    border-image: linear-gradient(to right, grey 0%, red 100%);
    border-image-slice: 2;
    margin: auto;
    width: 80%;
    height: 85%;
    background: rgba(255, 255, 255, 0.9);
    padding: 10px;
    box-shadow: 15px 15px 40px rgba(25, 38, 51, 0.4);
    text-align: center;
}

.login-page {
    background: url(../images/login.jpg) no-repeat;
    width: 100%;
    background-size: cover;
    background-position: center center;
    height: 100%;
}

#login .box {
    margin: 0 auto;
    margin-top: 8%;
    width: 60%;
    background: rgba(255, 255, 255, 0.9);
    padding: 10px;
    box-shadow: 15px 15px 40px rgba(25, 38, 51, 0.4);
    text-align: center;
}

#login p {
    margin-bottom: 10px;
    margin-top: 15px;
    font-family: AvenirNextBold;

}

#login legend {
    font-size: 45px;
    font-family: AvenirNextBold;
    font-weight: 1000;
    margin-top: 30px;
    margin-bottom: 40px;
}

#login input {
    margin-top: 15px;
    width: 70%;
    max-width: 200px;
    margin-bottom: 25px;
    text-align: left;
}

#login button {
    height: 25px;
    background-color: gainsboro;
    border: none;
    padding-left: 20px;
    padding-right: 20px;
    color: black;
    margin-bottom: 20px;
}

#login button:hover {
    background: #cccccc;
}

.contResult {
    font-family: AvenirNextBold;
    height: 100vh;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 150px;
    padding-top: 150px;
    text-align: center;
}

.intResult {
    font-size: 400px;
    margin-top: 20%;
    color: gainsboro;
}

.result-int-page {
    background-color: azure;
}

#result-section {
    border-image: linear-gradient(to right, grey 0%, red 100%);
    border-image-slice: 2;
    margin: auto;
    width: 80%;
    height: 85%;
    background: rgba(255, 255, 255, 0.9);
    padding: 10px;
    box-shadow: 15px 15px 40px rgba(25, 38, 51, 0.4);
    text-align: center;
}

.result-page {
    background: url(../images/result.jpg) no-repeat;
    width: 100%;
    background-size: cover;
    background-position: center center;
    height: 100%;
}

/* MEDIA QUERIES */

@media only screen and (max-width: 768px) {
    header {
        width: 100%;
        text-align: center;
    }

    #intro-section{
        width: 50%;
    }

    .container h1, h2 {
        margin-top: 32%;
        font-weight: 100;
        margin-left: -30px;
        padding-bottom: 16px;
    }

    .container h1 {
        font-size: 110px;
    }

    .container h2 {
        margin-top: -105px;
        margin-bottom: 5px;
    }

    p {
        margin-left: -30px;
    }

    .intSport, .intArt, .intPolitics, .intBusiness {
        font-size: 200px;
    }

    #sidebar-btn span{
        margin-right: 5px;
    }

    #sidebar-btn {
        margin-top: 8px;
    }

    #login_form .box{
        margin-top: 4px;
    }
}

@media only screen and (max-width: 320px) {

    #intro-section {
        width: 4%;
    }

    #intro-section .container {
        margin-top: 80px;
    }

    .container h1 {
        font-size: 45px;
        margin-left: 30px;
        margin-top: 110px;
        padding-bottom: 70px;
    }

    .container h2 {
        font-size: 35px;
        margin-left: 30px;
        margin-top: -85px;
        padding-bottom: 70px;
    }

    p {
        margin-left: 30px;
        margin-top: -30px;
        font-size: 20px;
    }

    .intSport, .intArt, .intPolitics, .intBusiness {
        font-size: 80px;
    }

    #sport-section, #art-section, #politics-section, #business-section, #result-section, #login-section {
        width: 62%;
    }

    #sidebar-btn span{
        margin-right: -2px;
    }

    #sidebar-btn {
        margin-top: 10px;
    }

    #login_form .box {
       width: 60%;
    }

    .box, .leg {
        font-size: 12px;
    }

    #login-section {
        height: 68%;
    }

}

